<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head.ejs') %>

	<body class="header-collapse">
		
		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="/" id="branding">
						<img src="/images/logo.png" alt="Site Title">
					</a> <!-- #branding -->
					
					<nav class="main-navigation">
						<button type="button" class="toggle-menu"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="/">Pocetna</a></li>
							<li class="menu-item"><a href="/about">O nama</a></li>
							<li class="menu-item"><a href="/gallery">Galerija</a></li>
							<li class="menu-item"><a href="/page/events">Dogadjaji</a></li>
							<li class="menu-item"><a href="/contact">Kontakt</a></li>
						</ul> <!-- .menu -->
					</nav> <!-- .main-navigation -->
					<div class="mobile-menu"></div>
				</div>
			</header> <!-- .site-header -->
			
			<div class="hero">
				<div class="slider">
					<ul class="slides">
						<li class="lazy-bg" data-background="/images/background.jpg">
							<div class="container">
								<h2 class="slide-title">Idemo zurka</h2>
								<h3 class="slide-subtitle">po potrebi tekst</h3>
								<p class="slide-desc">neki tekst i ovdje. <br>kaldrma nema fuge.</p>

								<a href="#" class="button cut-corner">eventualno da vodi negdje</a>
							</div>
						</li>
						<li class="lazy-bg" data-background="/images/background-1.jpg">
							<div class="container">
									<h2 class="slide-title">Novi momenti</h2>
									<h3 class="slide-subtitle">omanji naslov </h3>
									<p class="slide-desc">e sad je ovo vec nek se vrti kao, izgleda bolje.</p>

									<a href="#" class="button cut-corner">dalje dalje</a>
							</div>
						</li>
						<!-- <li class="lazy-bg" data-background="dummy/slide-3.jpg">
							<div class="container">
									<h2 class="slide-title">Header goes here</h2>
									<h3 class="slide-subtitle">Less important text goes here</h3>
									<p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Fugiat aliquid minus nemo sed est.</p>

									<a href="#" class="button cut-corner">Read More</a>
							</div>
						</li> -->
					</ul>
				</div>
			</div>
			
			<main class="main-content">
				<div class="fullwidth-block testimonial-section">
					<div class="container">
						<div class="quote-slider">
							<ul class="slides">
								<li>
									<blockquote>
										<p>"Ma ludilo zurka, desava se, neke pohvale, nahvale i kojekakve takve cestitke i zahvalnice izmedjuostalog, sta ga znam i ja"</p>
										<cite>Nikola Savic</cite>
										<span>bog i batina</span>
									</blockquote>
								</li>
								<li>
									<blockquote>
										<p>"ma ovdje ih mzoes nanizati do mile volje druskane, samo jasi, svi smo nasi"</p>
										<cite>Nikola Savic</cite>
										<span>onaj sto je ovo napravio</span>
									</blockquote>
								</li>
							</ul>
						</div>
					</div>
				</div> <!-- .testimonial-section -->

				<div class="fullwidth-block upcoming-event-section" data-bg-color="#191919">
					<div class="container">
						<header class="section-header">
							<h2 class="section-title">Upcoming events</h2>

							<!-- <div class="event-nav">
								<a class="prev" id="event-prev" href="#"><i class="fa fa-caret-left"></i></a>
	    						<a class="next" id="event-next" href="#"><i class="fa fa-caret-right"></i></a>
							</div> .event-nav -->

						</header> <!-- .section-header -->
						<div class="event-carousel">
							<% events.forEach(event => { %>
								<div class="event">
									<div class="entry-date">
										<div class="date"><%= event.day %></div>
										<span class="month"><%= event.month %></span>
									</div>
									<h2 class="entry-title"><%= event._doc.year %></h2>
									<p><%= event._doc.event %></p>
								</div> <!-- .event -->
							<% }) %>
							
						</div> <!-- .event-carousel -->
					</div> <!-- .container -->
				</div> <!-- .upcoming-event-section -->

				<div class="fullwidth-block why-chooseus-section">
					<div class="container">
						<h2 class="section-title">Why choose us?</h2>

						<div class="row">
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="../../dummy/medium-image-1.jpg" alt="">
									</figure>
									<h3 class="feature-title">Similique sunt in culpa qui officia deserunt mollitia animi laborum dolorum</h3>
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</div> <!-- .feature -->
							</div>
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="../../dummy/medium-image-2.jpg" alt="">
									</figure>
									<h3 class="feature-title">Similique sunt in culpa qui officia deserunt mollitia animi laborum dolorum</h3>
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</div> <!-- .feature -->
							</div>
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="../../dummy/medium-image-3.jpg" alt="">
									</figure>
									<h3 class="feature-title">Similique sunt in culpa qui officia deserunt mollitia animi laborum dolorum</h3>
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</div> <!-- .feature -->
							</div>
						</div>
					</div> <!-- .container -->
				</div> <!-- .why-chooseus-section -->
			</main> <!-- .main-content -->

			<%- include('../partials/footer.ejs') %>

		</div> <!-- #site-content -->

		<script src="/js/jquery-1.11.1.min.js"></script>		
		<script src="/js/plugins.js"></script>
		<script src="/js/app.js"></script>
		<script>

			const monthNames = [
				'Januar', 'Februar', 'Mart', 'April', 'Maj', 'Jun',
				'Jul', 'Avgust', 'Septembar', 'Octobar', 'Novembar', 'Decembar'
			];

		  </script>
		
	</body>

</html>